<footer class="footer bg-light">
  <div class="container">
    <span class="text-muted">&copy; 2019 Tanya Murrow</span>
    <span class="float-right text-muted">
      <a href="https://angular.io/docs" class="link-unstyled" target="_blank"><i class="fab fa-angular"></i> <small> 8.1.0</small></a> &nbsp;
      <a href="https://nodejs.org/dist/latest-v10.x/docs/api/" class="link-unstyled" target="_blank"><i class="fab fa-node-js"></i> <small> 10.16.0</small></a> &nbsp;
      <a href="https://docs.npmjs.com/" class="link-unstyled" target="_blank"><i class="fab fa-npm"></i> <small> 6.9.0</small></a> &nbsp;
      <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="link-unstyled" target="_blank"><i class="fab fa-bootstrap"></i> <small> 4.3.1</small></a> &nbsp;
      <a href="https://fontawesome.com/icons?d=gallery&m=free" class="link-unstyled" target="_blank"><i class="fab fa-font-awesome-flag"></i> <small> 5.9.0</small></a> &nbsp;
      <a href="https://github.com/dnd-monster-manual" class="link-unstyled" target="_blank"><i class="fab fa-github"></i> <small> dnd-monster-manual</small></a>
    </span>
  </div>
</footer>
