<form [formGroup]="monsterForm" (ngSubmit)="submit()" class="needs-validation" novalidate>

  <div class="card mb-3">
    <div class="card-body">
      <div class="form-group">
        <label class="form-label-lg">Name</label>
        <input formControlName="name" type="text" class="form-control form-control-lg" placeholder="Enter the monster's name"
        [ngClass]="{'is-invalid': isInvalid('name')}">
        <small class="form-text text-muted">URL: monsters/{{monster.url}}</small>
        <div class="invalid-feedback">
          <span *ngIf="monsterForm.get('name').errors?.required">You must enter a name for the monster.</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 col-sm-4">
          <label>Size</label>
          <ng-select formControlName="size" [items]="sizeList" [selectOnTab]="true" placeholder="Size" class="form-control"
          [ngClass]="{'is-invalid': isInvalid('size')}"></ng-select>
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('size').errors?.required">You must enter a size for the monster.</span>
          </div>
        </div>
        <div class="form-group col-12 col-sm-4">
          <label>Type</label>
          <ng-select formControlName="monster_type" [items]="typeList" [selectOnTab]="true" placeholder="Type" class="form-control"
          [ngClass]="{'is-invalid': isInvalid('monster_type')}"></ng-select>
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('monster_type').errors?.required">You must enter a type for the monster.</span>
          </div>
        </div>
        <div class="form-group col-12 col-sm-4">
          <label>Alignment</label>
          <ng-select formControlName="alignment" [items]="alignmentList" [selectOnTab]="true" placeholder="Alignment" class="form-control"
          [ngClass]="{'is-invalid': isInvalid('alignment')}"></ng-select>
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('alignment').errors?.required">You must enter an alignment for the monster.</span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-lg-3 col-xl-1">
          <div class="form-row">
            <div class="col d-none d-md-block">
              <label for="isLegendary">Legendary</label>
            </div>
            <div class="col-3 col-md-12">
              <div class="form-group">
                <div class="custom-control custom-switch custom-switch-lg">
                  <input formControlName="is_legendary" class="custom-control-input" id="isLegendary" type="checkbox">
                  <label class="custom-control-label" for="isLegendary"></label>
                </div>
              </div>
            </div>
            <div class="col-9 d-flex d-md-none">
              <label class="my-auto" for="isLegendary">Legendary</label>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-2" *ngIf="this.monsterForm.get('is_legendary').value">
          <div class="form-group">
            <label>Legendary Actions</label>
            <input formControlName="legendary_actions" type="number" class="form-control" placeholder="Legendary Actions">
          </div>
        </div>
        <div class="col">
          <label>Tags</label>
          <ng-select formControlName="tags" class="form-control" placeholder="Tags" multiple="true"
          [items]="tagList" [selectOnTab]="true" [hideSelected]="true" [addTag]="true" bindLabel="name" bindValue="name"></ng-select>
          <small class="form-text text-muted">Press <code>Tab</code> or <code>Enter</code> to select a tag.</small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-2">
          <label>AC</label>
          <input formControlName="ac" type="number" class="form-control" placeholder="AC"
          [ngClass]="{'is-invalid': isInvalid('ac')}">
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('ac').errors?.required">You must enter an armor class.</span>
            <span *ngIf="monsterForm.get('ac').errors?.invalid">Invalid input.</span>
          </div>
        </div>
        <div class="form-group col-5">
          <label>AC note</label>
          <input formControlName="ac_note" type="text" class="form-control" placeholder="AC notes, source, etc.">
        </div>
        <div class="form-group col-2">
          <label>HP</label>
          <input formControlName="hp" type="number" class="form-control" placeholder="HP"
          [ngClass]="{'is-invalid': isInvalid('hp')}">
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('hp').errors?.required">You must enter hit points.</span>
          </div>
        </div>
        <div class="form-group col-3">
          <label>Hit dice</label>
          <input formControlName="hd" type="text" class="form-control" placeholder="Hit dice, 1d8+2, etc."
          [ngClass]="{'is-invalid': isInvalid('hd')}">
          <div class="invalid-feedback">
            <span *ngIf="monsterForm.get('hd').errors?.required">You must enter hit dice.</span>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-row">
        <div class="form-group col-12 col-md-6 col-lg-3">
          <label>Damage Immunities</label>
          <ng-select formControlName="immunities" placeholder="Damage Immunities" multiple="true" class="form-control"
          [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true"></ng-select>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-3">
          <label>Damage Resistances</label>
          <ng-select formControlName="resistances" placeholder="Damage Resistances" multiple="true" class="form-control"
          [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true"></ng-select>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-3">
          <label>Damage Vulnerabilities</label>
          <ng-select formControlName="vulnerabilities" placeholder="Damage Vulnerabilities" multiple="true" class="form-control"
          [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true"></ng-select>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-3">
          <label>Condition Immunities</label>
          <ng-select formControlName="condition_immunities" placeholder="Condition Immunities" multiple="true" class="form-control"
          [items]="conditionList" [selectOnTab]="true" [hideSelected]="true"></ng-select>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col">
          <label>Languages</label>
          <ng-select formControlName="languages" placeholder="Languages" multiple="true" class="form-control"
          [items]="languageList" [selectOnTab]="true" [hideSelected]="true" [addTag]="true"></ng-select>
        </div>
        <div class="form-group col-2">
          <label>CR</label>
          <input formControlName="cr" type="number" class="form-control" placeholder="CR"
          [ngClass]="{'is-invalid': isInvalid('cr')}">
        </div>
        <div class="form-group col-2">
          <label>XP</label>
          <input formControlName="xp" type="number" class="form-control" placeholder="XP"
          [ngClass]="{'is-invalid': isInvalid('xp')}">
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Speed
      <button (click)="resetFormArray('speeds')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="speeds" *ngFor="let speedGroup of monsterForm.get('speeds').controls; let i = index">
        <div [formGroupName]="i" class="form-row">
          <div class="form-group col-6">
            <label>Speed {{i+1}}</label>
            <ng-select formControlName="speed_type" [items]="speedList" [selectOnTab]="true" placeholder="Speed Type" class="form-control"
            [ngClass]="{'is-invalid': isInvalid('speeds', i, 'speed_type')}"></ng-select>
          </div>
          <div class="form-group col-5">
            <label>Distance</label>
            <div class="input-group">
              <input formControlName="speed" type="number" class="form-control" placeholder="Distance"
              [ngClass]="{'is-invalid': isInvalid('speeds', i, 'speed')}">
              <div class="input-group-append">
                <span class="input-group-text">ft.</span>
              </div>
            </div>
          </div>
          <div class="form-group d-flex col">
            <button (click)="removeFormGroup('speeds', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFormGroup('speeds')" class="btn btn-outline-secondary btn-block" type="button">Add Speed</button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Ability Scores &amp; Saves
      <button (click)="resetMultiple(['ability_scores', 'saving_throws'])" class="btn btn-outline-light float-right">Reset</button>
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-8 pr-0">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th colspan="2">Score</th>
                <th>Bonus</th>
              </tr>
            </thead>
            <tbody>
              <tr formArrayName="ability_scores" *ngFor="let ability of abilityScoreList; let i = index">
                <td class="align-middle">{{ability}}</td>
                <td>
                  <input [formControlName]="i" type="number" class="form-control" placeholder="{{ability}} score"
                  [ngClass]="{'is-invalid': isInvalid('ability_scores', i)}">
                </td>
                <td class="bonus align-middle">0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4 pl-0">
          <table class="table table-bordered text-center border-left-0">
            <thead>
              <tr>
                <th class="border-left-0">Save</th>
              </tr>
            </thead>
            <tbody>
              <tr formArrayName="saving_throws" *ngFor="let ability of abilityScoreList; let i = index">
                <td class="border-left-0">
                  <input [formControlName]="i" type="number" class="form-control" placeholder="{{ability}} save"
                  [ngClass]="{'is-invalid': isInvalid('saving_throws', i)}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Skills <button (click)="resetFormArray('skills')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="skills" *ngFor="let skillGroup of monsterForm.get('skills').controls; let i = index">
        <div [formGroupName]="i" class="form-row">
          <div class="form-group col-6 col-md-7">
            <label>Skill {{i+1}}</label>
            <ng-select formControlName="skill" [items]="skillList" [selectOnTab]="true" placeholder="Skill" class="form-control"
            [ngClass]="{'is-invalid': isInvalid('skills', i, 'skill')}"></ng-select>
          </div>
          <div class="form-group col-4 col-md-4">
            <label>Bonus</label>
            <input formControlName="bonus" type="number" class="form-control" placeholder="Bonus"
            [ngClass]="{'is-invalid': isInvalid('skills', i, 'bonus')}">
          </div>
          <div class="form-group d-flex col">
            <button (click)="removeFormGroup('skills', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFormGroup('skills')" class="btn btn-outline-secondary btn-block" type="button">Add Skill</button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Senses <small class="text-white-50">(Telepathy is included here)</small>
      <button (click)="resetFormArray('senses')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="senses" *ngFor="let senseGroup of monsterForm.get('senses').controls; let i = index">
        <div [formGroupName]="i" class="form-row">
          <div class="form-group col-6 col-md-7">
            <label>Sense {{i+1}}</label>
            <ng-select formControlName="sense" [items]="senseList" [selectOnTab]="true" placeholder="Sense" class="form-control"
            [ngClass]="{'is-invalid': isInvalid('senses', i, 'sense')}"></ng-select>
          </div>
          <div class="form-group col-4 col-md-4">
            <label>Distance</label>
            <div class="input-group">
              <input formControlName="distance" type="number" class="form-control" placeholder="Distance"
              [ngClass]="{'is-invalid': isInvalid('senses', i, 'distance')}">
              <div class="input-group-append">
                <span class="input-group-text">ft.</span>
              </div>
            </div>
          </div>
          <div class="form-group d-flex col">
            <button (click)="removeFormGroup('senses', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFormGroup('senses')" class="btn btn-outline-secondary btn-block" type="button">Add Sense</button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Abilities
      <button (click)="resetFormArray('abilities')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="abilities" *ngFor="let abilityGroup of monsterForm.get('abilities').controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-12 col-sm-6">
              <label>Ability Name</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Ability name"
              [ngClass]="{'is-invalid': isInvalid('abilities', i, 'name')}">
            </div>
            <div class="form-group col-12 col-sm-5">
              <label>Ability Type</label>
              <ng-select formControlName="ability_type" [items]="abilityTypeList" bindValue="name" bindLabel="name" [selectOnTab]="true" placeholder="Ability Type" class="form-control"
              [ngClass]="{'is-invalid': isInvalid('abilities', i, 'ability_type')}"></ng-select>
            </div>
            <div class="form-group d-flex col">
              <button (click)="removeFormGroup('abilities', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label>Abilty text</label>
            <textarea formControlName="effect" class="form-control" rows="3" placeholder="Enter the ability effect text"
            [ngClass]="{'is-invalid': isInvalid('abilities', i, 'effect')}"></textarea>
          </div>
        </div>
      </div>
      <button (click)="addFormGroup('abilities')" class="btn btn-outline-secondary btn-block" type="button">Add Ability</button>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Attacks
      <button (click)="resetFormArray('attacks')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="attacks" *ngFor="let attackGroup of monsterForm.get('attacks').controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-12 col-sm-6">
              <label>Attack Name</label>
              <input formControlName="weapon" type="text" class="form-control" placeholder="Attack Name"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'weapon')}">
            </div>
            <div class="form-group col-12 col-sm-5">
              <label>Attack Type</label>
              <ng-select formControlName="attack_type" [items]="attackTypeList" [selectOnTab]="true" placeholder="Attack Type" class="form-control"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'attack_type')}"></ng-select>
            </div>
            <div class="form-group d-flex col">
              <button (click)="removeFormGroup('attacks', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6 col-sm-4 col-lg-2">
              <input formControlName="to_hit" type="number" class="form-control" placeholder="To hit"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'to_hit')}">
            </div>
            <div class="form-group col-6 col-sm-4 col-lg-2">
              <div class="input-group">
                <input formControlName="reach" type="number" class="form-control" placeholder="Reach"
                [ngClass]="{'is-invalid': isInvalid('attacks', i, 'reach')}">
                <div class="input-group-append">
                  <span class="input-group-text">ft.</span>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              <div class="input-group">
                <input formControlName="range" type="text" class="form-control" placeholder="Range"
                [ngClass]="{'is-invalid': isInvalid('attacks', i, 'range')}">
                <div class="input-group-append">
                  <span class="input-group-text">ft.</span>
                </div>
              </div>
            </div>
            <div class="form-group col-12 col-lg-6">
              <input formControlName="num_targets" type="text" class="form-control" placeholder="Targets"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'num_targets')}">
            </div>
            <div class="form-group col-4 col-lg-2">
              <input formControlName="average_damage" type="number" class="form-control" placeholder="Avg Dmg"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'average_damage')}">
            </div>
            <div class="form-group col-8 col-lg-4">
              <input formControlName="damage" type="text" class="form-control" placeholder="Damage"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'damage')}">
            </div>
            <div class="form-group col-12 col-lg-6">
              <input formControlName="damage_type" type="text" class="form-control" placeholder="Damage type"
              [ngClass]="{'is-invalid': isInvalid('attacks', i, 'damage_type')}">
            </div>
          </div>
          <div class="form-group">
            <label>Effect</label>
            <textarea formControlName="effect" class="form-control" rows="3" placeholder="Enter the attack effect text"></textarea>
          </div>
        </div>
      </div>
      <button (click)="addFormGroup('attacks')" class="btn btn-outline-secondary btn-block" type="button">Add Attack</button>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Other
      <button (click)="resetMultiple(['climate', 'terrain', 'rarity', 'organization', 'activity_cycle', 'diet', 'physical_description', 'habitat_society', 'ecology'])"
      class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-6">
          <label>Climate</label>
          <ng-select formControlName="climate" [items]="climateList" [selectOnTab]="true" [hideSelected]="true" placeholder="Climate" [addTag]="true" multiple="true"
          [ngClass]="{'is-invalid': isInvalid('climate')}"></ng-select>
        </div>
        <div class="form-group col-lg-6">
          <label>Terrain</label>
          <ng-select formControlName="terrain" [items]="terrainList" [selectOnTab]="true" [hideSelected]="true" placeholder="Terrain" [addTag]="true" multiple="true"
          [ngClass]="{'is-invalid': isInvalid('terrain')}"></ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Rarity</label>
          <input formControlName="rarity" type="text" class="form-control" placeholder="Rarity"
          [ngClass]="{'is-invalid': isInvalid('rarity')}">
        </div>
        <div class="form-group col-md-6">
          <label>Organization</label>
          <input formControlName="organization" type="text" class="form-control" placeholder="Organization"
          [ngClass]="{'is-invalid': isInvalid('organization')}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Activity Cycle</label>
          <input formControlName="activity_cycle" type="text" class="form-control" placeholder="Activity Cycle"
          [ngClass]="{'is-invalid': isInvalid('activity_cycle')}">
        </div>
        <div class="form-group col-md-6">
          <label>Diet</label>
          <input formControlName="diet" type="text" class="form-control" placeholder="Diet"
          [ngClass]="{'is-invalid': isInvalid('diet')}">
        </div>
      </div>

      <div class="form-group">
        <label>Physical Description</label>
        <textarea formControlName="physical_description" class="form-control" rows="3" placeholder="Physical Description"
        [ngClass]="{'is-invalid': isInvalid('physical_description')}"></textarea>
      </div>

      <div class="form-group">
        <label>Habitat/Society</label>
        <textarea formControlName="habitat_society" class="form-control" rows="5" placeholder="Habitat/Society"
        [ngClass]="{'is-invalid': isInvalid('habitat_society')}"></textarea>
      </div>

      <div class="form-group">
        <label>Ecology</label>
        <textarea formControlName="ecology" class="form-control" rows="3" placeholder="Ecology"
        [ngClass]="{'is-invalid': isInvalid('ecology')}"></textarea>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Magical Components
      <button (click)="resetFormArray('item_components')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="item_components" *ngFor="let senseGroup of monsterForm.get('item_components').controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-11">
              <label>Item</label>
              <input formControlName="item" type="text" class="form-control" placeholder="Item name"
              [ngClass]="{'is-invalid': isInvalid('item_components', i, 'item')}">
            </div>
            <div class="form-group d-flex col">
              <button (click)="removeFormGroup('item_components', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label>Source</label>
            <textarea formControlName="source" class="form-control" rows="3" placeholder="Source/component"
            [ngClass]="{'is-invalid': isInvalid('item_components', i, 'source')}"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFormGroup('item_components')" class="btn btn-outline-secondary btn-block" type="button">Add Component</button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header bg-secondary text-light">Monster Relationships
      <button (click)="resetFormArray('monster_relationships')" class="btn btn-outline-light float-right">Reset</button></h5>
    <div class="card-body">
      <div formArrayName="monster_relationships" *ngFor="let attackGroup of monsterForm.get('monster_relationships').controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-11">
              <label>Monster</label>
              <ng-select formControlName="monster_name" [items]="monsterList" [selectOnTab]="true" placeholder="Monster" class="form-control"
              [ngClass]="{'is-invalid': isInvalid('monster_relationships', i, 'monster_name')}"></ng-select>
            </div>
            <div class="form-group d-flex col">
              <button (click)="removeFormGroup('monster_relationships', i)" class="btn btn-outline-secondary btn-block mt-auto" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="form-group">
            <label>Relationship</label>
            <textarea formControlName="relationship" class="form-control" rows="3" placeholder="Relationship"
            [ngClass]="{'is-invalid': isInvalid('monster_relationships', i, 'relationship')}"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFormGroup('monster_relationships')" class="btn btn-outline-secondary btn-block" type="button">Add Relationship</button>
      </div>
    </div>
  </div>

  <div class="card bg-light ">
    <div class="card-body text-muted small">
      <samp>
        {{ monsterForm.value | json }}
      </samp>
    </div>
  </div>

  <div class="card bg-light" [ngClass]="monsterForm.valid ? 'border-success' : 'border-danger'">
    <div class="card-body text-muted small">
      <samp>
        {{ monsterForm.valid }}
      </samp>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div [ngSwitch]="isNewMonster" class="form-group col-4">
      <button *ngSwitchCase="true" class="btn btn-outline-primary btn-xl btn-block" type="submit">Create</button>
      <button *ngSwitchCase="false" class="btn btn-outline-primary btn-xl btn-block" type="submit">Update</button>
      <button *ngSwitchDefault class="btn btn-outline-primary btn-xl btn-block" type="submit">Submit</button>
    </div>
  </div>
</form>
