<form [formGroup]="monsterForm" (ngSubmit)="submit()" class="needs-validation" novalidate>
  <div class="form-group">
    <label class="form-label-lg">Name</label>
    <input formControlName="name" type="text" class="form-control form-control-lg" placeholder="Enter the monster's name"
    [ngClass]="{'is-invalid':(monsterForm.get('name').touched || monsterForm.get('name').dirty) && !monsterForm.get('name').valid}">
    <small class="form-text text-muted">URL: monsters/{{monster.url}}</small>
    <div class="invalid-feedback">
      <span *ngIf="monsterForm.get('name').errors?.required">You must enter a name for the monster.</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-sm-4">
      <label>Size</label>
      <ng-select formControlName="size" [items]="sizeList" [selectOnTab]="true" placeholder="Size" class="form-control"
      [ngClass]="{'is-invalid':(monsterForm.get('size').touched || monsterForm.get('size').dirty) && !monsterForm.get('size').valid}"></ng-select>
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('size').errors?.required">You must enter a size for the monster.</span>
      </div>
    </div>
    <div class="form-group col-12 col-sm-4">
      <label>Type</label>
      <ng-select formControlName="monster_type" [items]="typeList" [selectOnTab]="true" placeholder="Type" class="form-control"
      [ngClass]="{'is-invalid':(monsterForm.get('monster_type').touched || monsterForm.get('monster_type').dirty) && !monsterForm.get('monster_type').valid}"></ng-select>
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('monster_type').errors?.required">You must enter a type for the monster.</span>
      </div>
    </div>
    <div class="form-group col-12 col-sm-4">
      <label>Alignment</label>
      <ng-select formControlName="alignment" [items]="alignmentList" [selectOnTab]="true" placeholder="Alignment" class="form-control"
      [ngClass]="{'is-invalid':(monsterForm.get('alignment').touched || monsterForm.get('alignment').dirty) && !monsterForm.get('alignment').valid}"></ng-select>
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('alignment').errors?.required">You must enter an alignment for the monster.</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Tags</label>
    <ng-select formControlName="tags" [items]="tagList" [selectOnTab]="true" [hideSelected]="true" placeholder="Tags" multiple="true" [addTag]="true" class="form-control"></ng-select>
    <small class="form-text text-muted">Press <code>Tab</code> or <code>Enter</code> to select a tag.</small>
  </div>

  <div class="form-row">
    <div class="form-group col-2">
      <label>AC</label>
      <input formControlName="ac" type="number" class="form-control" placeholder="AC"
      [ngClass]="{'is-invalid':(monsterForm.get('ac').touched || monsterForm.get('ac').dirty) && !monsterForm.get('ac').valid}">
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('ac').errors?.required">You must enter an armor class.</span>
        <span *ngIf="monsterForm.get('ac').errors?.invalid">Invalid input.</span>
      </div>
    </div>
    <div class="form-group col-5">
      <label>AC note</label>
      <input formControlName="ac_note" type="text" class="form-control" placeholder="AC notes, source, etc.">
    </div>
    <div class="form-group col-2">
      <label>HP</label>
      <input formControlName="hp" type="number" class="form-control" placeholder="HP"
      [ngClass]="{'is-invalid':(monsterForm.get('hp').touched || monsterForm.get('hp').dirty) && !monsterForm.get('hp').valid}">
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('hp').errors?.required">You must enter hit points.</span>
      </div>
    </div>
    <div class="form-group col-3">
      <label>Hit dice</label>
      <input formControlName="hd" type="text" class="form-control" placeholder="Hit dice, 1d8+2, etc."
      [ngClass]="{'is-invalid':(monsterForm.get('hd').touched || monsterForm.get('hd').dirty) && !monsterForm.get('hd').valid}">
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('hd').errors?.required">You must enter hit dice.</span>
      </div>
    </div>
  </div>

  <hr>

  <h5>Speed</h5>
  <div formArrayName="speeds" *ngFor="let speedGroup of monsterForm.get('speeds').controls; let i = index">
    <div [formGroupName]="i" class="form-row">
      <div class="form-group col-6">
        <label>Speed</label>
        <ng-select formControlName="speed_type" [items]="speedList" [selectOnTab]="true" placeholder="Speed Type" class="form-control"></ng-select>
      </div>
      <div class="form-group col-6">
        <label>Distance</label>
        <div class="input-group">
          <input formControlName="speed" type="number" class="form-control" placeholder="Distance">
          <div class="input-group-append">
            <span class="input-group-text">ft.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <!-- <label class="invisible d-none d-lg-inline-block">Add Speed</label> -->
    <button (click)="addFormGroup('speeds')" class="btn btn-outline-secondary btn-block" type="button">Add Speed</button>
  </div>

  <hr>

  <h5>Ability Scores</h5>
  <div class="form-row">
    <div formArrayName="ability_scores" class="form-group col-6 col-sm-4 col-lg-2" *ngFor="let ability of abilityScoreList; let i = index">
      <label>{{ability}}</label>
      <input [formControlName]="i" type="number" class="form-control" placeholder="{{ability}}"
      [ngClass]="{'is-invalid':(monsterForm.get('ability_scores').controls[i].touched || monsterForm.get('ability_scores').controls[i].dirty) && !monsterForm.get('ability_scores').controls[i].valid}">
      <div class="invalid-feedback">
        <span *ngIf="monsterForm.get('ability_scores').controls[i].errors?.required">{{ability}} score is required.</span>
        <span *ngIf="monsterForm.get('ability_scores').controls[i].errors?.min">{{ability}} score must be at least 0.</span>
      </div>
    </div>
  </div>
  
  <h5>Saving Throws</h5>
  <div class="form-row">
    <div formArrayName="saving_throws" class="form-group col-6 col-sm-4 col-lg-2" *ngFor="let ability of abilityScoreList; let i = index">
      <label>{{ability}}</label>
      <input [formControlName]="i" type="number" class="form-control" placeholder="{{ability}}"
      [ngClass]="{'is-invalid':(monsterForm.get('saving_throws').controls[i].touched || monsterForm.get('saving_throws').controls[i].dirty) && !monsterForm.get('saving_throws').controls[i].valid}">
    </div>
  </div>

  <hr>

  <div class="form-row">
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label>Damage Immunities</label>
      <ng-select formControlName="immunities" [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true" placeholder="Damage Immunities" multiple="true" class="form-control"></ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label>Damage Resistances</label>
      <ng-select formControlName="resistances" [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true" placeholder="Damage Resistances" multiple="true" class="form-control"></ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label>Damage Vulnerabilities</label>
      <ng-select formControlName="vulnerabilities" [items]="damageTypeList" [selectOnTab]="true" [hideSelected]="true" placeholder="Damage Vulnerabilities" multiple="true" class="form-control"></ng-select>
    </div>
    <div class="form-group col-12 col-md-6 col-lg-3">
      <label>Condition Immunities</label>
      <ng-select formControlName="condition_immunities" [items]="conditionList" [selectOnTab]="true" [hideSelected]="true" placeholder="Condition Immunities" multiple="true" class="form-control"></ng-select>
    </div>
  </div>

  <hr>
  <h5>Skills</h5>
  <div formArrayName="skills" *ngFor="let skillGroup of monsterForm.get('skills').controls; let i = index">
    <div [formGroupName]="i" class="form-row">
      <div class="form-group col-6 col-md-7">
        <label>Skill</label>
        <ng-select formControlName="skill" [items]="skillList" [selectOnTab]="true" placeholder="Skill" class="form-control"></ng-select>
      </div>
      <div class="form-group col-4 col-md-4">
        <label>Bonus</label>
        <input formControlName="bonus" type="number" class="form-control" placeholder="Bonus">
      </div>
      <div class="form-group d-flex col-2 col-md-1">
        <!-- <label class="invisible">x</label> -->
        <button class="btn btn-outline-danger mt-auto" type="button"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <!-- <label class="invisible d-none d-lg-inline-block">Add Skill</label> -->
    <button (click)="addFormGroup('skills')" class="btn btn-outline-secondary btn-block" type="button">Add Skill</button>
  </div>

  <hr>

<h5>Senses <small class="text-muted">(Telepathy is included here)</small></h5>
<div formArrayName="senses" *ngFor="let senseGroup of monsterForm.get('senses').controls; let i = index">
  <div [formGroupName]="i" class="form-row">
    <div class="form-group col-6 col-md-7">
      <label>Sense</label>
      <ng-select formControlName="sense" [items]="senseList" [selectOnTab]="true" placeholder="Sense" class="form-control"></ng-select>
    </div>
    <div class="form-group col-4 col-md-4">
      <label>Distance</label>
      <div class="input-group">
        <input formControlName="distance" type="number" class="form-control" placeholder="Distance">
        <div class="input-group-append">
          <span class="input-group-text">ft.</span>
        </div>
      </div>
    </div>
    <div class="form-group d-flex col-2 col-md-1">
      <!-- <label class="invisible d-none d-lg-inline-block">Remove</label> -->
      <button class="btn btn-outline-danger mt-auto" type="button"><i class="fas fa-times"></i></button>
    </div>
  </div>
</div>

<div class="form-group">
  <!-- <label class="invisible d-none d-lg-inline-block">Add Sense</label> -->
  <button (click)="addFormGroup('senses')" class="btn btn-outline-secondary btn-block" type="button">Add Sense</button>
</div>

  <div class="form-group">
    <label>Languages</label>
    <ng-select formControlName="languages" [items]="languageList" [selectOnTab]="true" [hideSelected]="true" placeholder="Languages" [addTag]="true" multiple="true" class="form-control"></ng-select>
  </div>
  <div class="form-row">
    <div class="form-group col-3">
      <label>CR</label>
      <input formControlName="cr" type="number" class="form-control" placeholder="CR">
    </div>
    <div class="form-group col-3">
      <label>XP</label>
      <input formControlName="xp" type="number" class="form-control" placeholder="XP">
    </div>
    <div class="form-group col-6">
      <label>Legendary Actions</label>
      <input formControlName="legendary_actions" type="number" class="form-control" placeholder="Legendary Actions">
    </div>
  </div>

  <hr>

  <h3>Abilities</h3>
  <div formArrayName="abilities" *ngFor="let abilityGroup of monsterForm.get('abilities').controls; let i = index">
    <div [formGroupName]="i">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <label>Ability Name</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Ability name">
        </div>
        <div class="form-group col-12 col-sm-6 col-lg-3">
          <label>Ability Type</label>
          <ng-select formControlName="ability_type" [items]="abilityTypeList" [selectOnTab]="true" placeholder="Ability Type" class="form-control"></ng-select>
        </div>
        <div class="form-group d-flex col-2 col-md-1">
          <button class="btn btn-outline-danger mt-auto" type="button"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="form-group">
        <label>Abilty text</label>
        <textarea formControlName="effect" class="form-control" rows="3" placeholder="Enter the ability effect text"></textarea>
      </div>
    </div>
  </div>
  <button (click)="addFormGroup('abilities')" class="btn btn-outline-secondary btn-block" type="button">Add Ability</button>

  <hr>

  <h3>Attacks</h3>
  <div formArrayName="attacks" *ngFor="let attackGroup of monsterForm.get('attacks').controls; let i = index">
    <div [formGroupName]="i">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <label>Attack Name</label>
          <input formControlName="weapon" type="text" class="form-control" placeholder="Attack Name">
        </div>
        <div class="form-group col-12 col-sm-6 col-lg-3">
          <label>Attack Type</label>
          <input formControlName="attack_type" type="text" class="form-control" placeholder="Attack Type">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6 col-sm-4 col-lg-2">
          <input formControlName="to_hit" type="number" class="form-control" placeholder="To hit">
        </div>
        <div class="form-group col-6 col-sm-4 col-lg-2">
          <div class="input-group">
            <input formControlName="reach" type="number" class="form-control" placeholder="Reach">
            <div class="input-group-append">
              <span class="input-group-text">ft.</span>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4 col-lg-2">
          <div class="input-group">
            <input formControlName="range" type="text" class="form-control" placeholder="Range">
            <div class="input-group-append">
              <span class="input-group-text">ft.</span>
            </div>
          </div>
        </div>
        <div class="form-group col-12 col-lg-6">
          <input formControlName="num_targets" type="text" class="form-control" placeholder="Targets">
        </div>
        <div class="form-group col-4 col-lg-2">
          <input formControlName="average_damage" type="number" class="form-control" placeholder="Avg Dmg">
        </div>
        <div class="form-group col-8 col-lg-4">
          <input formControlName="damage" type="text" class="form-control" placeholder="Damage">
        </div>
        <div class="form-group col-12 col-lg-6">
          <input formControlName="damage_type" type="text" class="form-control" placeholder="Damage type">
        </div>
      </div>
      <div class="form-group">
        <label>Effect</label>
        <textarea formControlName="effect" class="form-control" rows="3" placeholder="Enter the attack effect text"></textarea>
      </div>
    </div>
  </div>

  <button (click)="addFormGroup('attacks')" class="btn btn-outline-secondary btn-block" type="button">Add Attack</button>

  <hr>

  <h3>Other</h3>
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label>Climate</label>
      <ng-select formControlName="climate" [items]="climateList" [selectOnTab]="true" [hideSelected]="true" placeholder="Climate" [addTag]="true" multiple="true"></ng-select>
    </div>
    <div class="form-group col-lg-6">
      <label>Terrain</label>
      <ng-select formControlName="terrain" [items]="terrainList" [selectOnTab]="true" [hideSelected]="true" placeholder="Terrain" [addTag]="true" multiple="true"></ng-select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Rarity</label>
      <input formControlName="rarity" type="text" class="form-control" placeholder="Rarity">
    </div>
    <div class="form-group col-md-6">
      <label>Organization</label>
      <input formControlName="organization" type="text" class="form-control" placeholder="Organization">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Activity Cycle</label>
      <input formControlName="activity_cycle" type="text" class="form-control" placeholder="Activity Cycle">
    </div>
    <div class="form-group col-md-6">
      <label>Diet</label>
      <input formControlName="diet" type="text" class="form-control" placeholder="Diet">
    </div>
  </div>

  <div class="form-group">
    <label>Physical Description</label>
    <textarea formControlName="physical_description" class="form-control" rows="3" placeholder="Physical Description"></textarea>
  </div>

  <div class="form-group">
    <label>Habitat/Society</label>
    <textarea formControlName="habitat_society" class="form-control" rows="5" placeholder="Habitat/Society"></textarea>
  </div>

  <div class="form-group">
    <label>Ecology</label>
    <textarea formControlName="ecology" class="form-control" rows="3" placeholder="Ecology"></textarea>
  </div>

  <hr>

  <h5>Magical Components</h5>
  <div formArrayName="item_components" *ngFor="let senseGroup of monsterForm.get('item_components').controls; let i = index">
    <div [formGroupName]="i">
      <div class="form-group">
        <label>Item</label>
        <input formControlName="item" type="text" class="form-control" placeholder="Item name">
      </div>
      <div class="form-group">
        <label>Source</label>
        <textarea formControlName="source" class="form-control" rows="3" placeholder="Source/component"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button (click)="addFormGroup('item_components')" class="btn btn-outline-secondary btn-block" type="button">Add Component</button>
  </div>

  <h5>Monster Relationships</h5>
  <div formArrayName="monster_relationships" *ngFor="let attackGroup of monsterForm.get('monster_relationships').controls; let i = index">
    <div [formGroupName]="i">
      <div class="form-group">
        <label>Monster</label>
        <ng-select formControlName="monster_id" [items]="monsterList" [selectOnTab]="true" placeholder="Monster"></ng-select>
      </div>
      <div class="form-group">
        <label>Relationship</label>
        <textarea formControlName="relationship" class="form-control" rows="3" placeholder="Relationship"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button (click)="addFormGroup('monster_relationships')" class="btn btn-outline-secondary btn-block" type="button">Add Relationship</button>
  </div>

  <div class="form-row">
    <div class="card bg-light border-0">
      <div class="card-body text-muted">
        <samp>
          {{ monsterForm.value | json }}
        </samp>
      </div>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <button class="btn btn-outline-primary btn-xl btn-block" type="submit">Submit</button>
    </div>
  </div>
</form>
