/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  position: relative;
  min-height: 100%;
}

// footer.component.scss
body {
  padding-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}

// Fixes hr not showing up in bootstrap card: https://github.com/twbs/bootstrap/issues/23032
hr {
  width: 100%;
}

/* Bootstrap overrides */
.custom-switch.custom-switch-lg .custom-control-label {
  cursor: pointer;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
  width: 3.75rem;
  height: 2rem;
  border-radius: 1.5rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border-radius: 1.5rem;
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: translateX(1.75rem);
  transform: translateX(1.75rem);
}

/* ---------------------------------
  ng-select Bootstrap style fixes
  file(s): monster-form.component.scss
--------------------------------- */
// fix placeholder color
ng-select.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #636c72;
}

// reposition red 'x' to not be behind the dropdown arrow when invalid
ng-select.form-control.ng-select.is-invalid {
  background-position: center right calc(0.375em + 1.25rem);
}

// fix border/background color problems with the container within the select
ng-select.form-control.ng-select > div.ng-select-container {
  border: none;
  background-color: transparent;
}

// fix focused styles on normal and invalid inputs
ng-select.form-control.ng-select.ng-select-focused .ng-select-container {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

ng-select.form-control.ng-select.is-invalid.ng-select-focused .ng-select-container {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* dark theme styles */
// body {
//   background-color: black;
//   color: white;
// }
//
// .card {
//   background-color: #343A40;
// }
//
// input,
// .form-control {
//   background-color: transparent;
//   border-color: #6C757C;
//   color: #ced4da;
// }
