/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  position: relative;
  min-height: 100%;
}

// footer.component.scss
body {
  padding-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}

// Fixes hr not showing up in bootstrap card: https://github.com/twbs/bootstrap/issues/23032
hr {
  width: 100%;
}

// monster-form.component.scss
ng-select.form-control.ng-select > div.ng-select-container {
  border: none;
}
