/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  position: relative;
  min-height: 100%;
}

// footer.component.scss
body {
  padding-bottom: 70px;
}

// monster-form.component.scss
ng-select.form-control.ng-select > div.ng-select-container {
  border: none;
}
